<!DOCTYPE html>
<html>
<head>
  <title><%- title %></title>
</head>
<body>
  <form action="/" method="POST" encType="multipart/form-data">
    <input name="h5p" type="file" value="H5P-File">
    <input type="submit" value="Abschicken">
  </form>
  <% if (message) { %>
  <div>
    <%- message %>
  </div>
  <% } %>
  <% if (contentId) { %>
  <hr>
  <div>
    Play with it <a href="/play/<%- contentId %>">here</a>!
  </div>
  <% } %>
  <% if (availableIds && availableIds.length) { %>
  <hr>
  <div>
    <select id="theSelect">
      <% availableIds.forEach(id => { %>
      <option value="<%- id %>"><%- id %></option>
      <% }) %>
    </select>
    <button id="playSelectedVideo">Play!</button>
  </div>
  <div id="playground"></div>
  <% } %>
  <script src="/static/index.js"></script>
</body>
</html>
